<h2 id="page_title"> Schön, dass Sie uns gefunden haben </h2>

<div class="row-fluid">
	<div class="span5 offset1 home_picture">
		<a href="<%= ferienwohnungen_sylt_path %>">
			<h2> Wohnungen auf Sylt </h2> 
			<%= image_tag(s3_image("SyltStrand.jpg"), alt: "Der Husumer Hafen in seiner vollen Schönheit") %> 
		</a> 
	</div>

	<div class="span5 home_picture">
		<a href="<%= ferienwohnungen_husum_path %>">	
			<h2> Wohnungen in Husum </h2> 
			<%= image_tag(s3_image("HusumerHafen.jpg"), alt: "Der Husumer Hafen in seiner vollen Schönheit") %> 
		</a> 
	</div>
</div> 
