<div class="row">
	<div class="col-md-10 col-md-offset-1 col-sm-12 tipps_container">	

		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 col-sx-12">
				<h3> Die „graue Stadt am Meer“ </h3>
				<p> Husum ist die Kreisstadt Nordfrieslands mit ca. 23 000 Einwohnern. Die Altstadt, welche an das Hafengebiet, erinnert an vergangene Zeiten. Das Erbe von Theodor Storm ist hier sehr lebendig. Heute präsentiert sich Husum als „bunte Stadt am Meer“! Der Binnenhafen im Zentrum unterstreicht das maritime Flair. Hier laden auch verschiedene Restaurants und Cafes zum Verweilen ein. Husum eignet sich nicht nur besonders gut für Ausflüge ins Weltkulturerbe Wattenmeer, sondern auch um mit dem Fahrrad auf Tour zu gehen. Naturfreunde werden von der Artenvielfalt begeistert sein.</p> 
			</div>

			<div class="col-sm-5 col-sx-12 image">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/husum_hafen_optimized.jpg", alt: "Husum - Die graue Stadt am Meer") %> 
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 col-sx-12 image">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/schloss_optimized.jpg", alt: "Husum - Die graue Stadt am Meer") %> 
			</div>

			<div class="col-sm-5 col-sx-12">
				<h3> Sehenswertes in Husum: </h3>
				<p> <strong> Theodor Storm Haus </strong> - Wandeln Sie auf den Spuren im Geburtshaus Theodor Storms <br> 
				<strong> Schifffahrtsmuseum</strong> - Maritime Sammlung rund um die Seefahrt <br>
				<strong> Pole Poppenspäler </strong> - ein Museum im Schloss vor Husum <br> 
				<strong> Nordsee Museum </strong> - im Nissenhaus alles um den Lebensraum Nordsee <br> 
				<strong> Dock-Koog </strong> - Baden im Meer mal anders - Hier bestimmen die Gezeiten wann gebadet werden kann <br> 
				<strong> Wattwanderung </strong> - geführte Wanderungen ab Husum </p> 
			</div> 
		</div>

		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 col-sx-12">
				<h3> Ausflugsziele von Husum: </h3>
				<p> <strong> Friedrichstadt </strong> - eine Stadt wie im Bilderbuch,
					mit Giebelhäusern und Grachten<br> 
				<strong> Sylt </strong> -in 60 Minuten mit der Nord-Ostsee-Bahn nach Westerland auf Sylt <br>
				<strong> Amrum und Föhr </strong> - mit der Fähre die nordfriesischen Inseln erleben <br> 
				<strong> Tönning </strong> - entdecken Sie das Multimar Wattforum <br> 
				<strong> St. Peter-Ording</strong> - besuchen Sie die Dünnentherme oder spazieren Sie am weitläufigen Sandstrand <br> 
				<strong> Seebüll </strong> - Kunst-Highlight: Emiel Nolde Stiftung <br> 
				<strong> Kiel </strong> - In nur einer Stunde sind Sie in unserer Landeshauptstadt <br> 
				<strong> Hamburg </strong> - auch die Hansestadt ist in nur 2 Stunden mit der Bahn zu erreichen</p>
			</div>

			<div class="col-sm-5 image col-sx-12">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/friedrichstadt_optimized.jpg", alt: "Husum - Die graue Stadt am Meer") %> 		
			</div> 
		</div>
	
	</div>	
</div>	
