<div class="tipps_background">

	<div class="row-fluid">
		<div class="span5 offset1">
			<h3> Sylt - eine Insel zum Verlieben </h3>
			<p> Sylt ist die größte Nordfriesische Insel Deutschlands und wohl auch die Bekannteste. Mit einem knapp 40 km langem Sandstrand an der Westseite und dem Nationalpark „Wattenmeer“ an der Ostseite ist sie rundum interessant.Sie erreichen Sylt sowohl mit dem Zug direkt von Hamburg, als auch mit dem Autozug ab Niebüll oder mit der Fähre ab Romo. </p> 
		</div>

		<div class="span5 imagecontainer">
			<%= image_tag "Sylt.jpeg", alt: "Sylt - eine Insel zum Verlieben" %> 
		</div> 
	</div>
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 imagecontainer">
			<%= image_tag "Sylt.jpeg", alt: "Sylt - eine Insel zum Verlieben" %> 
		</div>

		<div class="span5">
			<h3> Urlaub pur </h3>
			<p> Verbringen Sie Ihre schönsten Tage des Jahres bei uns auf Sylt. - Ihren Urlaub.	
				Hier finden Sie Erholung oder Aktivität, je nach dem wonach Ihnen gerade ist. Das Wetter ist hier nur Nebensache, wenn man die Richtige Kleidung trägt.
				Genießen Sie lange Sparziergänge am Strand, Fahrradtouren über die Insel oder eine Golfrunde auf einem der schönen Golfplätze.
				Kulinarisch lässt das gastronomische Angebote keine Wünsche offen. </p> 
		</div> 
	</div>
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1">
			<h3> Sport auf Sylt </h3>
			<p> <strong> Rad Fahren </strong> - viele Fahrradverleihe bieten Ihnen auch Tagesräder an; 200 km lange Radwege quer über die Insel <br> 
			<strong> Reiten </strong> - Reitschulen bieten Kurse und Ausritte an: 70 km Reitwege durch Dünen und am Watt
			<br> 
			<strong> Golfen </strong> - 4 Golfplätze stehen Ihnen zur Verfügung <br> 
			<strong> Schwimmen </strong> - egal ob in der Nordsee oder in „der Sylter Welle“ mit Wasserrutschen und Außenbecken, sowie Saunalandschaft <br> 
			<strong> Nordic Walking </strong> - 220 km Streckennetz im Nordic Walking Park <br> 
			<strong> Fun Beach </strong> - am Brandenburger Strand gibt es im Sommer
				Beachvolleyball, Boccia oder Beachsoccer
				für die ganze Familie <br> 
			<strong> Tennis </strong> - 3 Tennisplätze, auch mit Außenanlagen </p> 
		</div>

		<div class="span5 imagecontainer">
			<%= image_tag "Sylt.jpeg", alt: "Sylt - eine Insel zum Verlieben" %> 
		</div> 
	</div>

</div>
