<div class="container-fluid">
		<div class="row-fluid">

				<div class="span5 offset1 ueber_uns_text">
					<h2> Liebe Feriengäste, </h2>
					<p>
						schön, dass Sie auf unsere ganz personliche Internetseite gefunden haben.
						Wir – Das sind Alexander und Sylvia mit unseren drei Kindern Johannes, Anna und Alex, sowie Hund Gismo. Wir sind eine mittelständige Einzelhändlerfamilie aus Husum, die sich seit fünf Jahren ein zweites Standbein mit Ferienwohnungen in Husum und Westerland aufbaut. Langsam sammelt sich ein kleines Portfolio an, welches wir Ihnen hier auf der Internetseite vorstellen. Jede Ferienwohnung wurde von uns persönlich gestaltet und regelmäßig schauen wir dort nach dem Rechten.
						Leider können wir unsere Wohnungen nicht selbst verwalten und haben Vertrauenspersonen in Husum und Westerland, die dies für uns übernehmen. Diese sind Frau Wiebke Volquardsen in Husum und
						Herr Johannes Hussmann in Westerland, die auch als Kontaktpersonen aufgeführt werden.
					</p> 
					<br>
					<h2> Was unsere Gäste sagen: </h2>
					<br>
					<blockquote> <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. scelerisque et tellus. Maecenas hendrerit enim sed nulla euismod id feugiat neque bibendum.
					</p> </blockquote>
					<blockquote> <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. scelerisque et tellus. Maecenas hendrerit enim sed nulla euismod id feugiat neque bibendum.
					</p> </blockquote>					
					<blockquote> <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. scelerisque et tellus. Maecenas hendrerit enim sed nulla euismod id feugiat neque bibendum.
					</p> </blockquote>	
				</div>

				<div class="span5 ueber_uns_foto">
					<%= image_tag(s3_image("Family.jpg"), alt: "Familie Seikowsky - Urlaub im Herzen") %> 
					<%= link_to "ZU UNSEREN FERIENWOHNUNGEN", '#', class: "btn btn-large btn-warning" %>
					<br> 
					<%= link_to "KONTAKT", kontakt_path, class: "btn btn-large btn-warning" %> 
				</div> 

	</div> 
</div> 