@import 'bootstrap';
@import 'bootstrap-responsive';


/* GENERAL */ 

@mixin border-radius{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

$color_of_page_title: #171B1C;
$text_box_background: #DDDDDD;

#page_title{
	color: $color_of_page_title; 
	font-size: 49px; 
	text-align: center; 	
	padding: 20px 0px; 
	line-height: 1.15; 
}

a:hover{
	text-decoration: none; 
}


/* BDOY */ 

body{
	background: url("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/General/background.JPG") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 	font-family: Arial;
}





/* HEADER */ 

.header{
	background-color: #4C849B; 
	border-top: 6px solid #EC992C;
	height: 125px; 
	padding: 0px 7.5%;
	margin-bottom: 50px; 
		.logo{
			img{
				height: 120px;
				width: auto; 
			}		
		}
		.part_of_header{
			width: 14%; 
			float: left; 
			text-align: center; 
			height: 125px;
			overflow: hidden;
			h3{
				color: white; 
				font-size: 23px;
				line-height: 100px;
				font-weight: normal;
			}
			a:hover{
				text-decoration: none; 
			}
		}
		.part_of_header:hover{
			background-color: #EC992C;
		}
}



/* FOOTER */ 

.footer{
	background-color: #4C9ABF; 
	margin-top: 135px;
    opacity: 0.85;
	.kontakt_box{
		color: black; 
		background-color: #4C9ABF; 
		h2{
			font-size: 35px;
			padding-top: 13px; 
			padding-bottom: 10px;
		}
		h4{
			font-size: 21px;
			padding-bottom: 1px;
		}
		a{
			color: #E4E4E4;
		}
	}
}



/* HOMEPAGE */ 

.home_picture{
	float: left;
	text-align: center; 
	h2{
		color: $color_of_page_title; 
		font-size: 32px;
		margin-bottom: 12px; 
	}
	img{
		width: 100%;
		height: 350px;
		background-color: #53ADD6;
		padding: 5px; 
	}
}


/* ÜBER UNS */ 

.ueber_uns_text{
	background-color: #D0D0D0; 
	color: black;
	padding: 25px 50px; 
	opacity: 0.85;
    @include border-radius;
	overflow: hidden;
	p{
		line-height: 1.8;
		font-size: 16px;
	}
}

.ueber_uns_foto{
	text-align: center; 
	img{
		width: 100%;
		padding: 5px; 
		margin-bottom: 20px; 
		background-color: #53ADD6;		
	}
	a{
		margin-bottom: 25px; 
	}
}




/* KONTAKT */ 

#kontakt_heading{
	color: $color_of_page_title; 
	line-height: 1.2;
	font-size: 43px; 	
	padding-bottom: 12px;
	text-align: center; 	
}

.kontakt_box{
	padding: 20px 40px 70px 60px; 
	margin-top: 10px; 
	height: 340px;
	background-color: #D0D0D0; 
	opacity: 0.85;
	color: black;
    @include border-radius;
	overflow: hidden;
	p{
		font-size: 19px;
		font-weight: bold; 
		line-height: 1.6; 
	}
}




/* HUSUM_UND_SYLT_TIPPS */ 

.tipps_background{
	background-color: #D0D0D0; 
	opacity: 0.91;
	color: black;	
	width: 72%; 
	margin: 0 14% 0 14%; 
	padding: 55px 8px 65px 8px; 
    @include border-radius;
	overflow: hidden;
		h3{
			font-size: 28px;
			margin-top: 0px;
		}
		p{
			line-height: 1.45;
			font-size: 18px;
		}
		img{
			width: 100%;
		}
		.imagecontainer{
			padding: 5px; 
			background-color: #53ADD6;
			border: none; 
			margin-bottom: 20px;
		}
}





/* AUFLISTUNGEN VON FERIENWOHNUNGS  */ 

.ferienwohnungen_heading{
	h1{
		font-size: 49px; 	
		padding-bottom: 45px; 
		text-align: center; 
	}	
	#husum{
		color: white; 
	}
	#sylt{
		color: $color_of_page_title; 	
	}
}

.wohnungs_picture{
	padding: 5px; 
	background-color: #53ADD6;
	border: none; 
	img{
		width: 100%;
		height: 345px;	
	}
}

.wohnungs_beschreibung{
	height: 350px;
	padding: 12px 0px 0px 40px; 
	background-color: $text_box_background;
	opacity: 0.98; 
	color: $color_of_page_title; 
    @include border-radius;
	overflow: hidden;
	h2{
		font-size: 37px;
		padding-bottom: 3px;	
	}
	ul{
		padding-bottom: 12px;
	}
	li{
		font-size: 18px;
		padding-bottom: 4px;
		font-weight: bold;
	}
}




/* FERIENWOHNUNGS SPEZIFISCH */ 

.spezifische_wohnungsbeschreibung{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 550px;	
	padding: 12px 0px 0px 40px; 
	color: $color_of_page_title; 
  @include border-radius;
	overflow: hidden;
	p{
		padding: 0px 30px 20px 10px;
		font-size: 16px;
		line-height: 1.4;
	}
}

.small_images_container{
	padding: 5px; 
	height: 200px; 
	background-color: #53ADD6;
	border: none; 
	img{
		width: 100%;
		height: 190px; 
	}
}

.small_images_container_vertical{
	height: 200px; 
	border: 5px solid #53ADD6; 
	overflow: hidden; 
    position: relative;
	img{
			width: 100%;
	    position: absolute;
	    top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
	}
}

.small_images_container_horizontal{
	height: 200px; 
	border: 5px solid #53ADD6; 
	overflow: hidden; 
  position: relative;
	background-color: #4C849B; 
	img{
			width: 100%;
	    position: absolute;
	    top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
	}
}


.prices{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 470px;	
	padding: 10px 35px 30px 35px;
	color: $color_of_page_title; 
	font-size: 26px; 
    @include border-radius;
	overflow: hidden;
	table{
		width: 95%;
		height: 70%;
		tr{
		height: 25%;
		.align_center{
			text-align: center;
		}
		}
	}
	.text{
		height: 30%; 
		padding-top: 10px;
	}
	p{
		font-size: 16px; 
	}
	h4{
		font-size: 20px; 
		line-height: 1.1;
		padding-top: 10px;
	}

}

.einrichtung{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 470px;	    
	padding: 10px 40px 30px 35px;
	color: $color_of_page_title; 
	@include border-radius; 
	overflow: hidden;
	h2{
		padding-bottom: 3px; 
		font-size: 26px; 
	}
	p{
		font-size: 16px;
		line-height: 1.45;
	}
}

.kundenmeinungen{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 470px;
	color: $color_of_page_title; 
	padding: 10px 40px 30px 35px;
    @include border-radius;
    overflow: hidden;
}



/* to be replace for first element */
.boxportfolio2 {
	float:left;
	padding-right:20px;
	width:48.317948717948715%;
	display:inline-block;
	margin-bottom:20px;
	position:relative;
	z-index:0;
	#myCarousel{
		border: 5px solid #53ADD6;
	}
}














