$color_of_page_title: #171B1C;
$text_box_background: #DDDDDD;

@mixin border-radius{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

@media (min-width: 768px){
	body{
		background: red url("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/next_background_optimized.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 	font-family: Arial;
	}
}

@media (max-width: 768px){
	body{
		background: red;
	 	font-family: Arial;
	}
}



/* HEADER */ 
.boostrap_header{
	background-color: #4C849B; 
}

@media (max-width: 850px) and (min-width: 760px){
	.boostrap_header li a{
		font-size: 11px; 
	}
}



/* FOOTER */ 

.other_footer{
	background-color: #4C849B; 
  opacity: 0.85;
	margin-top: 125px;
	padding: 30px 0 75px 0; 
		.left_side{
			float: right; 
			color: black; 
			margin-right: 30px; 
		}
		.right_side{
			float: left; 
			color: black; 
			margin-left: 30px; 		
		}
		h2{
			font-size: 35px;
			padding-bottom: 10px;
		}
		h4{
			font-size: 21px;
			padding-bottom: 1px;
		}
		a{
			color: #E4E4E4;
		}
}

@media (max-width: 768px){
	.other_footer .right_side{
		margin-left: 0; 
	}
	.other_footer .left_side{
		float: left; 
		margin-bottom: 10px; 
	}
}

/* HOMEPAGE */ 

#page_title{
	color: $color_of_page_title; 
	font-size: 49px; 
	text-align: center; 	
	padding: 20px 0px 25px 0px; 
	line-height: 1.15; 
}
.home_picture{
	h2{
		text-align: center; 
		font-size: 32px;
		margin-bottom: 12px; 
		color: $color_of_page_title; 
	}
	img{
		width: 100%;
		height: 350px;
		border: 5px solid #4C849B;
	}
	a:hover{
		text-decoration: none; 
	}
}


/* ÜBER UNS */ 

.ueber_uns{
		margin-bottom: 20px; 
		.text{
			background-color: #D0D0D0; 
			opacity: 0.85;
			color: black;
			padding: 25px 50px; 
		  @include border-radius;
			p{
				line-height: 1.65;
				font-size: 16px;
			}	
		}
		.image{
			text-align: center; 
			img{
				width: 100%;
				padding: 5px; 
				margin-bottom: 20px; 
				background-color: #53ADD6;		
			}
			a{
				margin-bottom: 25px; 
			}
		}
	}
	.meinungen{
	margin-top: 45px; 
	img{
		width: 100%; 
		height: auto; 
		margin-bottom: 35px; 
	}
}

@media (max-width: 992px) {
	.ueber_uns .text {
		margin-bottom: 30px; 
	}
}



/* KONTAKT */ 

.kontakt{
	background-color: #D0D0D0; 
	height: 340px;
	opacity: 0.85;
	padding: 20px 40px 70px 60px; 
	color: black;
  @include border-radius;
	p{
		font-size: 19px;
		font-weight: bold; 
		line-height: 1.6; 
	}
}

@media (max-width: 800px){
		.kontakt{
			margin-bottom: 30px; 
			height: 380px; 
		}
}




/* HUSUM_UND_SYLT_TIPPS */ 

.tipps_container{
	background-color: #D0D0D0; 
	opacity: 0.91;
	color: black;	
	padding: 55px 8px 65px 8px; 
  @include border-radius;
	h3{
		font-size: 26px;
		margin-top: 0px;
	}
	p{
		line-height: 1.45;
		font-size: 17px;
	}
	img{
		width: 100%; 
		height: auto; 
		border: 5px solid #4C849B;
	}
	.row{
		margin-bottom: 30px; 
	}
}

@media (max-width: 992px){
	.tipps_container{
		padding: 20px 8px 65px 8px; 
	}
	.tipps_container img{
		margin: 10px 0; 
	}
	.tipps_container p{
		margin-bottom: 15px; 
	}
	.tipps_container .row{
			margin-bottom: 0;
		} 
}





/* ALLE FERIENWOHNUNGEN  */ 

.ferienwohnungen_heading{
		font-size: 49px; 	
		padding-bottom: 45px; 
		text-align: center; 
}
#sylt{
	color: $color_of_page_title; 	
}
#husum{
	color: white; 	
}

.wohnung{
	margin-bottom: 35px; 
	position: relative; 
	.image{
		img{
			width: 100%;
			height: 350px;	
			border: 5px solid #4C849B; 
		}
	}
	.description{
		height: 350px;
		background-color: $text_box_background;
		opacity: 0.98; 
		padding: 12px 0px 0px 40px; 
		color: $color_of_page_title; 
	  @include border-radius;
		h2{
			font-size: 35px;
			padding-bottom: 3px;	
		}
		ul{
			padding-bottom: 12px;
		}
		li{
			font-size: 18px;
			padding-bottom: 4px;
			font-weight: bold;
		}
		a{
			padding: 25px; 
			position: absolute; 
			bottom: 2px; 
			right: 2px; 
			border-radius: 0px; 
			-moz-border-radius: 0px; 
			-webkit-border-radius: 0px; 
		}
	}
}


@media (max-width: 1200px){
	.wohnung .description	a{
				padding: 14px; 
			}
	.wohnung .description	h2{
				font-size: 32px;
			}
}

@media (max-width: 992px){
	.wohnung img{
		margin-bottom: 20px;
	}
	.ferienwohnungen_heading{
			font-size: 43px; 	
	}
}


/* FERIENWOHNUNGS SPEZIFISCH */ 

.big_photo{
	img{
		border: 5px solid #4C849B; 
	}
	a:hover{
		text-decoration: none; 
	}
}

.spezifische_wohnungsbeschreibung{
	background-color: $text_box_background;
	opacity: 0.98; 
	padding-top: 12px;
	color: $color_of_page_title; 
  @include border-radius;
  position: relative; 
  h2{
		padding-top: 45px; 
 		padding-left: 12px; 
  }
  h3{
   	padding-left: 12px; 
  }
	p{
		padding: 0px 15px 5px 0px;
		font-size: 16px;
		line-height: 1.4;
 		padding-left: 12px; 
	}
	a{
	 position: absolute; 
	 top: 7px; 
	 left: 10px; 
	 right: 10px; 
	 padding: 15px 0; 
	 margin-bottom: 300px; 
	 display: block; 
	}
}

.picture_gallery_button{
	text-align: center; 
	font-size: 17px; 
	margin: 45px 10% 60px 10%; 
	padding: 16px 95px; 
	background-color: #4C849B; 
	width: 80%;
	color: white; 
	@include border-radius; 
}

.picture_gallery_button:hover{
	background-color: #4E9DBC;
}

.prices{
	background-color: $text_box_background;
	opacity: 0.98; 
	min-height: 400px;	
	margin-top: 45px; 
	padding: 10px 0 0 28px;
	color: $color_of_page_title; 
	font-size: 26px; 
  @include border-radius;
	table{
		width: 95%;
		height: 330px;
		tr{
		height: 25%;
			.align_center{
				text-align: center;
			}
		}
	}
}

@media (max-width: 600px){
	.big_photo .picture_gallery_button{
		font-size: 13px; 
		padding: 16px 55px; 	
		margin: 35px 10% 45px 10%; 
	}
 .prices{
		display: none; 
	}
	.spezifische_wohnungsbeschreibung{
		margin-top: 30px; 
	}
}

@media (min-width: 992px){
	iframe{
		height: 470px; 
	}
}









