$color_of_page_title: #171B1C;
$text_box_background: #DDDDDD;

@mixin border-radius{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}


body{
	background: url("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/General/background.JPG") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 	font-family: Arial;
}




/* HEADER */ 

.header{
	background-color: #4C849B; 
	border-top: 6px solid #EC992C;
	margin-bottom: 50px; 
	height: 125px; 
	img{
			height: 119px; 
			float: left;
			display: inline;
			padding-right: 20px; 
			}		
		ul{
	    list-style-type: none;
			float: left; 
			margin: 0px; 
			li{
				float: left; 
				padding-right: 35px; 
				font-size: 22px; 
				line-height: 125px; 
				a{
					color: white; 			
				}
				a:hover{
					text-decoration: none; 
					color: #EC992C; 
				}
			}
		}
	}

@media (max-width: 1270px) {
	.header ul li{
			font-size: 16px; 
	}
	.header img {
			height: 100px; 
			padding-right: 5px; 
	}
}

@media (max-width: 1050px) {
	.header ul li{
			font-size: 14px; 
			padding-right: 20px;  
	}
	.header img {
			height: 80px; 
			padding-right: 0px; 
	}
}




/* FOOTER */ 

.footer{
	background-color: #4C9ABF; 
  opacity: 0.85;
	margin-top: 135px;
	.kontakt_box{
		background-color: #4C9ABF; 
		color: black; 
		h2{
			font-size: 35px;
			padding-top: 13px; 
			padding-bottom: 10px;
		}
		h4{
			font-size: 21px;
			padding-bottom: 1px;
		}
		a{
			color: #E4E4E4;
		}
	}
}



/* HOMEPAGE */ 

#page_title{
	color: $color_of_page_title; 
	font-size: 49px; 
	text-align: center; 	
	padding: 20px 0px 25px 0px; 
	line-height: 1.15; 
}

@media (max-width: 930px){
	#page_title{
		font-size: 35px; 	
	}
}


.home_picture{
	h2{
		text-align: center; 
		font-size: 32px;
		margin-bottom: 12px; 
		color: $color_of_page_title; 
	}
	img{
		width: 100%;
		height: 350px;
		background-color: #53ADD6;
		padding: 5px; 
	}
	a:hover{
		text-decoration: none; 
	}
}


/* ÜBER UNS */ 

.ueber_uns{
		margin-bottom: 20px; 
		.text{
			background-color: #D0D0D0; 
			opacity: 0.85;
			color: black;
			padding: 25px 50px; 
		  @include border-radius;
			p{
				line-height: 1.65;
				font-size: 16px;
			}	
		}
		.image{
			text-align: center; 
			img{
				width: 100%;
				padding: 5px; 
				margin-bottom: 20px; 
				background-color: #53ADD6;		
			}
			a{
				margin-bottom: 25px; 
			}
		}
	}

@media (max-width: 975px){
	.ueber_uns{
		.text{
			margin-bottom: 35px; 
		}
	}
}

.meinungen{
	margin-top: 45px; 
	img{
		width: 100%; 
		height: auto; 
		margin-bottom: 35px; 
	}
}






/* KONTAKT */ 

.kontakt{
	background-color: #D0D0D0; 
	height: 340px;
	opacity: 0.85;
	padding: 20px 40px 70px 60px; 
	color: black;
  @include border-radius;
	p{
		font-size: 19px;
		font-weight: bold; 
		line-height: 1.6; 
	}
}

@media (max-width: 900px){
	.kontakt{
		a{
			font-size: 16px;
		}
	}
}



/* HUSUM_UND_SYLT_TIPPS */ 

.tipps_container{
	background-color: #D0D0D0; 
	opacity: 0.91;
	color: black;	
	padding: 55px 8px 65px 8px; 
  @include border-radius;
	h3{
		font-size: 26px;
		margin-top: 0px;
	}
	p{
		line-height: 1.45;
		font-size: 17px;
	}
	img{
		width: 100%; 
		height: auto; 
		border: 5px solid #53ADD6;
	}
	.row{
		margin-bottom: 30px; 
	}
}





/* AUFLISTUNGEN VON FERIENWOHNUNGS  */ 

.ferienwohnungen_heading{
		font-size: 49px; 	
		padding-bottom: 45px; 
		text-align: center; 
}
#sylt{
	color: $color_of_page_title; 	
}
#husum{
	color: white; 	
}


.wohnung{
	margin-bottom: 35px; 
	position: relative; 
	.image{
		img{
			width: 100%;
			height: 350px;	
			border: 5px solid #53ADD6; 
		}
	}
	.description{
		height: 350px;
		background-color: $text_box_background;
		opacity: 0.98; 
		padding: 12px 0px 0px 40px; 
		color: $color_of_page_title; 
	  @include border-radius;
		h2{
			font-size: 35px;
			padding-bottom: 3px;	
		}
		ul{
			padding-bottom: 12px;
		}
		li{
			font-size: 18px;
			padding-bottom: 4px;
			font-weight: bold;
		}
		a{
			padding: 25px; 
			position: absolute; 
			bottom: 0; 
			right: 0; 
			border-radius: 0px; 
			-moz-border-radius: 0px; 
			-webkit-border-radius: 0px; 
		}
	}
}



/* FERIENWOHNUNGS SPEZIFISCH */ 

.spezifische_wohnungsbeschreibung{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 550px;	
	padding: 12px 0px 0px 40px; 
	color: $color_of_page_title; 
  @include border-radius;
	overflow: hidden;
	p{
		padding: 0px 30px 20px 10px;
		font-size: 16px;
		line-height: 1.4;
	}
}

.small_images_container{
	padding: 5px; 
	height: 200px; 
	background-color: #53ADD6;
	border: none; 
	img{
		width: 100%;
		height: 190px; 
	}
}

.small_images_container_vertical{
	height: 200px; 
	border: 5px solid #53ADD6; 
	overflow: hidden; 
    position: relative;
	img{
			width: 100%;
	    position: absolute;
	    top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
	}
}

.small_images_container_horizontal{
	height: 200px; 
	border: 5px solid #53ADD6; 
	overflow: hidden; 
  position: relative;
	background-color: #4C849B; 
	img{
			width: 100%;
	    position: absolute;
	    top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
	}
}


.prices{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 470px;	
	padding: 10px 35px 30px 35px;
	color: $color_of_page_title; 
	font-size: 26px; 
    @include border-radius;
	overflow: hidden;
	table{
		width: 95%;
		height: 70%;
		tr{
		height: 25%;
		.align_center{
			text-align: center;
		}
		}
	}
	.text{
		height: 30%; 
		padding-top: 10px;
	}
	p{
		font-size: 16px; 
	}
	h4{
		font-size: 20px; 
		line-height: 1.1;
		padding-top: 10px;
	}

}

.einrichtung{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 470px;	    
	padding: 10px 40px 30px 35px;
	color: $color_of_page_title; 
	@include border-radius; 
	overflow: hidden;
	h2{
		padding-bottom: 3px; 
		font-size: 26px; 
	}
	p{
		font-size: 16px;
		line-height: 1.45;
	}
}

.kundenmeinungen{
	background-color: $text_box_background;
	opacity: 0.98; 
	height: 470px;
	color: $color_of_page_title; 
	padding: 10px 40px 30px 35px;
    @include border-radius;
    overflow: hidden;
}



/* to be replace for first element */
.boxportfolio2 {
	float:left;
	padding-right:20px;
	width:48.317948717948715%;
	display:inline-block;
	margin-bottom:20px;
	position:relative;
	z-index:0;
	#myCarousel{
		border: 5px solid #53ADD6;
	}
}














