<div class="row footer">

			<div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 kontakt_box">
				<h2> Kontakt auf Sylt </h2> 
				<h4> Ferienvermietung Hussmann </h4>
				<h4> 25890 Westerland </h4>
				<h4> <%= link_to "www.hussmann-sylt.de", 'http://www.hussmann-sylt.de/', target: "_blank" %> </h4>
				<h4> <a href="mailto:hussmansylt@t-online.de"> hussmansylt@t-online.de </a> </h4> 
				<h4> Tel.: 04651-836330 </h4>
			</div>

			<div class="col-md-4 col-sm-6 kontakt_box">
				<h2> Kontakt in Husum </h2> 
				<h4> Ferien an der Nordsee </h4>
				<h4> 25813 Husum </h4>
				<h4> <%= link_to "www.unsere-kueste.de", 'http://www.unsere-kueste.de/', target: "_blank" %> </h4>
				<h4> <a href="mailto:info@unsere-kueste.de"> info@unsere-kueste.de </a> </h4> 
				<h4> Tel: 04841-9041561 </h4>
			</div>

</div>
